{% extends "base.html"}

{% block title %}
Create User
{% endblock %}

{% block content %}
<h1>Create A User</h1>
<div class="users-list">
<form action="/users">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name">

    <label for="last_name">Last Name</label>
    <input type="text" name="last_name">

    <label for="image_url">Image URL</label>
    <input type="text" name="image_url">

    <button class="btn btn-primary" type = "submit">Add User</button>
</form>
</div>
<!--TODO: Test button?-->
{% endblock %}