{% extends "base.html" %}

{% block title %}
EDIT POSTS
{% endblock %}

{% block content %}
<h1>EDIT TAG</h1>
<div class="edit-post">
    <form action="/tags/{{ tag.id }}/edit"  method="POST">
        <!-- input add id = label for ::value-->
        <label for="name">TAG</label>
        <input type="text" name="name" id="name" required>

        <button class="btn btn-primary" type="submit">EDIT</button>
    </form>
        <a href="/tags/{{ tag.id }}">Cancel</a>
</div>
<!--TODO: Test button?-->
{% endblock %}