{% extends "base.html" %}

{% block title %}
Edit a User
{% endblock %}

{% block content %}

<!-- TODO: we took out form action and put it below on each of the buttons-->
<form method = 'POST'>
    
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" value="{{user.first_name}}">

    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" value="{{user.last_name}}">

    <label for="image_url">Image URL</label>
    <input type="text" name="image_url"  value="{{user.image_url}}">
    
    <button class="btn btn-primary" type = "submit" formaction="/users/{{user.id}}/edit">SAVE</button>

</form>
    <a href = "/users">Cancel</a>
    


{% endblock %}