{% extends "base.html" %}

{% block title %}
User Profile
{% endblock %}

{% block content %}
<div> 
    <img src="{{ user.image_url }}" alt="">
</div>
<div>
    
    <h1>  {{ user.get_full_name() }}</h1>

    <div>
        <form>
        <button><a href='/users/{{ user.id }}/edit'>Edit</a></button>       
        <!-- delte may not need a link or to remove -->
        <button formaction="/users/{{ user.id }}/delete" formmethod="POST">Delete</button>
        </form>
    </div>


   

</div>
{% endblock %}